{% extends "layout.html" %}
{% block content %}
    <h4 class="text-center">Here are some photos of places and people that mean a lot to me!</h4>

    <div class="card">
        <div class="grid-container">
            <img src="static/images/daisy1.jpeg" class="img-fluid" alt="Daisy">
                <div class="card-body text-center">
                    Daisy Pickles!
                </div>
            <img src="static/images/IMG_0281.jpeg" class="img-fluid" alt="Lew">
            <div class="card-body text-center">
                My friend Lewis and I out scouting in an undisclosed location.
            </div>
            <img src="static/images/IMG_0299.jpeg" class="img-fluid" alt="Run">
            <div class="card-body text-center">
                Burn area from the Bridger Foothills Fire in Bozeman, MT
            </div>

            <img src="static/images/IMG_0334.jpeg" class="img-fluid" alt="Blackfoot">
            <div class="card-body text-center">
                Overnight rafting trip on the Blackfoot River
            </div>
            <img src="static/images/IMG_0341.jpeg" class="img-fluid" alt="Blackfoot">
            <div class="card-body text-center">
                Overnight rafting trip on the Blackfoot River
            </div>
        </div>

    </div>
{% endblock content %}
